<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是映射接口的全类名 -->
<mapper namespace="com.yc.qas.mapper.ManagerMapper">
	<select id="findManagerByManager" parameterType="Manager" resultType="Manager">
	    select * from Manager where  mPwd=#{mPwd} and mId=#{mId}
	</select>
	<update id="managerChangePwd">
		update manager set mPwd=#{param1} where mId=#{param2}
	</update>
</mapper>