<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.qas.mapper.StudentUnionMapper">
	<select id="findStudentUnion" parameterType="StudentUnion" resultType="StudentUnion">
	    select * from StudentUnion where  suId=#{suId} and suPwd=#{suPwd}
	</select>
	
	<update id="changePwd">
		update studentUnion set suPwd=#{param1} where suId=#{param2}
	</update>
	
	<insert id="managerAddStudentUnion">
		insert into StudentUnion values(seq_studentUnion_suId.nextval,#{param1,jdbcType=VARCHAR},'10470c3b4b1fed12c3baac014be15fac67c6e815','')
	</insert>
</mapper>